$blue: #023B55
$purple: #7E1674
$lila: #606fb4

*
  box-sizing: border-box
html, body
  box-sizing: border-box
  scroll-behavior: smooth
  height: 100vh
  width: 100vw
  overflow-x: hidden
  position: relative 
  font-family: 'Trebuchet MS', sans-serif

.playing-bg
  width: min(60vw, 400px)
  margin: 0 auto
  padding-top: 20px

.gameControllersField
  width: 100%
  margin: 0 auto

.btn-container
  max-width: min(50vw, 500px)
  margin: 0 auto
  display: flex
  justify-content: space-around
  margin-bottom: 20px
  @media all and (max-width: 500px)
    max-width:  min(70vw, 500px)
    margin-bottom: 10px

.controls-btn
  height: 40px
  border: 2px solid #130231
  border-radius: 5px
  font-size: 20px
  background-color:#606fb4
  color: #130231
  font-weight: bold
  @media all and (max-width: 500px)
    font-size: 16px
 

.controls-btn:hover 
  background-color: #167E7D
  cursor: pointer
  border: 2px solid #7E1674
  text-decoration: underline
  color:#7E1674
  text-decoration-color: #7E1674

.controls-btn:active 
  cursor: pointer

.icon 
  width: 30px
  height: 30px
  @media all and (max-width: 764px)
    width: 20px
    height: 25px
  img
    width: auto
    height: 100%
    object-fit: contain

.icon:hover
  cursor: pointer

.info-container
  width: min(50vw, 500px)
  margin: 0 auto
  font-family: 'Trebuchet MS', san-serif
  font-size: 26px
  color: #130231
  display: flex
  justify-content: space-evenly
  margin-bottom: 10px
  margin-top: 10px
  @media all and (max-width: 500px)
    width: 300px
  @media all and (max-width: 764px)
    font-size: 22px
 
.field 
  box-sizing: border-box
  border: 1px solid #d3d3d3
  background-color: #023B55
  margin: 0 auto
  position: relative
  display: grid
  width: min(80vw, 60vh)
  height: min(80vw, 60vh)
  padding: 10px
  margin-bottom: 20px
  border-radius: 10px
  gap: 2px
  // @media all and (max-width: 800px)
  //   width: min(60vw, 500px)
  //   height: min(60vw, 500px)
  // @media all and (max-width: 550px)
  //   width: 400px
  //   height: 400px

  // @media all and (max-width: 405px)
  //   width: 310px
  //   height: 310px


.number-cell
  border: 1px solid #d3d3d3
  background-color: #4895bb
  font-size: 30px
  color: #d3d3d3
  border-radius: 10px
  text-align: center
  transition: outline ease-out 0.5s
  transform: translateX(0%)
  transform: translateY(0%)
  @media all and (max-width: 550px)
    font-size: 26px
  @media all and (max-width: 480px)
    font-size: 24px
  @media all and (max-width: 355px)
    font-size: 22px

.cell-animation-left
  animation: moveLeft 1s ease 1

.cell-animation-right
  animation: moveLeft 1s ease 1
.cell-animation-left
  animation: moveRight 1s ease 1
.cell-animation-top
  animation: moveTop 1s ease 1
.cell-animation-bottom
  animation: moveBottom 1s ease 1
  
@keyframes moveLeft
  from
    transform: translateX(0)
  to 
    transform: translateX(102%)

@keyframes moveRight
  from
    transform: translateX(0%)
  to 
    transform: translateX(-102%)


@keyframes moveTop
  from
    transform: translateY(0)
  to 
    transform: translateY(102%)

@keyframes moveBottom
  from
    transform: translateY(0%)
  to 
    transform: translateY(-102%)

.number-cell:hover
  transition: outline ease-out 0.5s
  outline: 3px solid #7E1674
  text-decoration: solid
  cursor: pointer


.number-cell:active
  transition: outline ease-out 0.5s
  outline: 3px solid #7E1674
  text-decoration: solid
  cursor: pointer
  transform: scale(1.1)

.level
  display: flex
  max-width: min(60vw, 500px)
  margin: 0 auto
  gap: 10px
  justify-content: space-around
  font-size: 20px
  color: #7E1674
  @media all and (max-width: 550px)
    max-width: 100%
  @media all and (max-width: 400px)
    max-width: 50%
  @media all and (max-width: 330px)
    max-width: 60%



.level-btn
  display: none

.label
  display: inline-block
  cursor: pointer
  padding: 0px 10px
  line-height: 34px
  border: 2px solid #999
  border-radius: 15px
  

.level-btn:checked + .label
  background: #023B55
  color:#d3d3d3

.label:hover 
  color: #666
  background: $purple

.popup, .greeting
  width: 50vw
  height: 50vh
  position: absolute
  z-index: 2
  top: 10vh
  left: 25vw
  font-size: 36px
  color: white
  background-color: black
  opacity: 0.9
  visibility: hidden
  outline: 5px solid $blue
  text-align: center
  @media all and (max-width: 1000px)
    top: 10vh
  @media all and (max-width: 700px)
      width: 70vw
      left: 15vw


.greeting
  margin-top: 10px
  display: none
  visibility: visible
  padding:20px
  @media all and (max-width: 650px)
    font-size: 30px
    width: 70vw
    left: 15vw
  @media all and (max-width: 480px)
    font-size: 22px
    padding: 40px 20px


.win
  p
    margin: 0 auto
    padding: 15vh 20px
    text-align: center

.popup>span
  position: absolute
  right: 20px
  top: 10px
  cursor: pointer
  font-size: 20px

.popup>span:hover
  color: #023B55
  font-weight: bold
  text-decoration: underline



.result,.load
  font-size: 36px
  padding: 20px
  @media all and (max-width: 760px)
    font-size: 26px

.small
  font-size: 0.8rem

.result
  box-sizing: border-box
  overflow: auto
  @media all and (max-width: 760px)
    width: 70vw
    left: 15vw
  @media all and (max-width: 420px)
    width: 90vw
    left: 5vw

.result-list
  font-size: 20px
  text-align: left

.record-title
  margin: 0 auto
  padding: 12px 20px
  text-align: center


.btn-yes-no
  width: 80%
  display: flex
  justify-content: space-between
  justify-items: center
  margin: 0 auto
  @media all and (max-width: 550px)
    width: 100%

.btn-pop
  max-width: 100px
  width: 60px
  height: 30px
  font-size: 20px
  text-align: center
  background-color: #167E7D
  cursor: pointer
  border: 2px solid #7E1674
  color: white
  border-radius: 5px
  
.btn-pop:hover
  text-decoration: underline
  color: $purple


.btn-pop:last-child
  left: 65%

.save
  box-sizing: border-box
  p
    width: 80%
    margin: 0 auto
    margin-top: 20%
    @media all and (max-width: 690px)
      font-size: 26px
      margin-top: 30%
   

.open-popup
  visibility: visible
